body, html {
	overflow-x: hidden;
}

p.logo {
    text-align: center;
    font-size: 48px;
    margin: 20px;
}

div.footer {
	display: none;
	width: 100vw;
	text-align: center;
	height: 50px;
	font-size: 32px;
	font-weight: 100;
}